## Talent Mobility - Data Analytics

### Transborder Freight Analysis

## Importation of packages

## Data Importation

In [1]:
import os
import zipfile
import pandas as pd

def process_data_from_directory(base_directory, output_file='combined_data.csv', file_format='csv'):
    """
    Purpose of the function:
    1. Unzip all zip files in nested folders.
    2. Read all CSV files from both zip files and non-zipped folders into DataFrames.
    3. Concatenate all the DataFrames into a single DataFrame, excluding those with 'ytd' in their filenames.
    """
    # Unziping all zip files in nested folders
    for root, dirs, files in os.walk(base_directory):
        for file in files:
            if file.endswith('.zip'):  
                zip_file_path = os.path.join(root, file)
                with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
                    zip_ref.extractall(root) 

    # Reading all CSV files into a list of DataFrames, excluding files with 'ytd' in the filename
    all_data = []
    for root, dirs, files in os.walk(base_directory):
        # Checking if the folder contains CSV files (whether it's a zip or non-zip folder)
        for file in files:
            if file.endswith('.csv'):  # If it's a CSV file
                if 'ytd' in file.lower():  # Skip files with 'ytd' in their name
                    print(f"Skipping {file} as it contains 'ytd' in the filename.")
                    continue  # Skip this file
                
                file_path = os.path.join(root, file)
                try:
                    # Read CSV file into a DataFrame
                    df = pd.read_csv(file_path, low_memory=False)
                    all_data.append(df)
                except Exception as e:
                    print(f"Error reading {file_path}: {e}")

    # Step 3: Concatenating all DataFrames into one
    if all_data:
        combined_data = pd.concat(all_data, ignore_index=True)
        
        # Save the combined data to the output file
        combined_data.to_csv(output_file, index=False)
        print(f"Combined data saved to {output_file}")
        return combined_data
    else:
        print("No matching CSV files found.")
        return None

In [3]:
# combines all csv files except those which contains ytd in their naming from 2020 -2024
base_directory = 'TransportData'
output_file = 'combined_transborder_freight1.csv'
file_format = 'csv' 
combined_data = process_data_from_directory(base_directory, output_file, file_format)

if combined_data is not None:
    print(combined_data.head())

Skipping dot1_ytd_0620.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0720.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0620.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0720.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0620.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0720.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0420.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0420.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0420.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0820.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0820.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0820.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0220.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0220.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0220.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0120.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0120.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0120.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0320.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0320.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0320.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0520.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0520.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0520.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0920.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0920.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0920.csv as it contains 'ytd' in the filename.
Error reading TransportData\2020\__MACOSX\._dot1_0720.csv: 'utf-8' codec can't decode byte 0xb1 in position 45: invalid start byte
Skipping ._dot1_ytd_0720.csv as it contains 'ytd' in the filename.
Error reading TransportData\2020\__MACOSX\._dot2_0720.csv: 'utf-8' codec can't decode byte 0xb1 in position 45: invalid start byte
Skipping ._dot2_ytd_0720.csv as it contains 'ytd' in the filename.
Error reading TransportData\2020\__MACOSX\._dot3_0720.csv: 'utf-8' codec can't decode byte 0xb1 in position 45: invalid start byte
Skipping ._dot3_ytd_0720.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0421.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0421.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0421.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0221.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0221.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0221.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0121.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0121.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0121.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0621.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0621.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0621.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0321.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0321.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0321.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0521.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0521.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0521.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0821.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0821.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0821.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1221.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1221.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1221.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0721.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1121.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1121.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1121.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1021.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1021.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1021.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0921.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0921.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0921.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0422.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0422.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0422.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0822.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0822.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0822.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1222.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1222.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1222.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0222.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0222.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0222.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0122.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0122.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0122.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0722.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0722.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0722.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0622.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0622.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0622.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0322.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0322.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0322.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0522.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0522.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0522.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1122.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1122.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1122.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_1022.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_1022.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_1022.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0922.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0922.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0922.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0423.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0423.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0423.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0823.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0823.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0823.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0223.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0223.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0223.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0123.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0123.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0123.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0723.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0723.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0723.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0623.csv as it contains 'ytd' in the filename.

Skipping dot2_ytd_0623.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0623.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0323.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0323.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0323.csv as it contains 'ytd' in the filename.
Skipping dot1_ytd_0523.csv as it contains 'ytd' in the filename.
Skipping dot2_ytd_0523.csv as it contains 'ytd' in the filename.
Skipping dot3_ytd_0523.csv as it contains 'ytd' in the filename.
Combined data saved to combined_transborder_freight1.csv
   TRDTYPE USASTATE  DEPE  DISAGMOT MEXSTATE CANPROV  COUNTRY  VALUE  SHIPWT  \
0        1       AK  0712         5      NaN      XQ     1220   2864       0
1        1       AK  20XX         3      NaN      XA     1220   2938     336
2        1       AK  20XX         3      NaN      XA     1220   7957     133
3        1       AK  20XX         3      NaN      XC     1220  22874    2253
4        1       AK  20XX         3      NaN      XC     1220   7439       1

   FREIGHT_CHARGES   DF CONTCODE  MONTH  YEAR  COMMODITY2
0               19  1.0        X    6.0  2020         NaN
1               67  1.0        X    6.0  2020         NaN
2              138  2.0        X    6.0  2020         NaN
3              591  1.0        X    6.0  2020         NaN
4              108  2.0        X    6.0  2020         NaN

## Exploratory Data Analysis

### Data Cleaning and Validation

In [5]:
combined_data.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,2864,0,19,1.0,X,6.0,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,2938,336,67,1.0,X,6.0,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,7957,133,138,2.0,X,6.0,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,22874,2253,591,1.0,X,6.0,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7439,1,108,2.0,X,6.0,2020,NaN

In [6]:
#viewing the shape of the dataframe
combined_data.shape

(7134361, 15)

In [7]:
combined_data.tail(100)

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
7134261,2,NaN,5501,5,NaN,NaN,2010,194576,2294,8294,NaN,0,5.0,2024,42.0
7134262,2,NaN,5501,9,NaN,NaN,2010,742074,1063440,58472,NaN,0,5.0,2024,48.0
7134263,2,NaN,5501,5,NaN,NaN,2010,45569,8426,1048,NaN,0,5.0,2024,49.0
7134264,2,NaN,5501,3,NaN,NaN,2010,344,33,116,NaN,0,5.0,2024,58.0
7134265,2,NaN,5501,5,NaN,NaN,2010,11931,226,1570,NaN,0,5.0,2024,58.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7134356,2,NaN,55XX,5,NaN,NaN,1220,10986046,20806,4316,NaN,0,5.0,2024,98.0
7134357,2,NaN,55XX,8,NaN,NaN,2010,859994,7893,7893,NaN,0,5.0,2024,98.0
7134358,2,NaN,60XX,8,NaN,NaN,1220,103414,2722,200,NaN,0,5.0,2024,89.0
7134359,2,NaN,70XX,8,NaN,NaN,1220,240821611,0,0,NaN,0,5.0,2024,99.0
7134360,2,NaN,70XX,8,NaN,NaN,2010,244407687,0,0,NaN,0,5.0,2024,99.0

In [8]:
#checking for number duplicates
combined_data.duplicated().sum()

120474

In [9]:
# dropping duplicate values
combined_data = combined_data.drop_duplicates()

In [10]:
#viewing shape of dataframe after dropping duplicates
combined_data.shape

(7013887, 15)

In [11]:
combined_data.head()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
0,1,AK,0712,5,NaN,XQ,1220,2864,0,19,1.0,X,6.0,2020,NaN
1,1,AK,20XX,3,NaN,XA,1220,2938,336,67,1.0,X,6.0,2020,NaN
2,1,AK,20XX,3,NaN,XA,1220,7957,133,138,2.0,X,6.0,2020,NaN
3,1,AK,20XX,3,NaN,XC,1220,22874,2253,591,1.0,X,6.0,2020,NaN
4,1,AK,20XX,3,NaN,XC,1220,7439,1,108,2.0,X,6.0,2020,NaN

In [12]:
combined_data.tail()

,TRDTYPE,USASTATE,DEPE,DISAGMOT,MEXSTATE,CANPROV,COUNTRY,VALUE,SHIPWT,FREIGHT_CHARGES,DF,CONTCODE,MONTH,YEAR,COMMODITY2
7134356,2,NaN,55XX,5,NaN,NaN,1220,10986046,20806,4316,NaN,0,5.0,2024,98.0
7134357,2,NaN,55XX,8,NaN,NaN,2010,859994,7893,7893,NaN,0,5.0,2024,98.0
7134358,2,NaN,60XX,8,NaN,NaN,1220,103414,2722,200,NaN,0,5.0,2024,89.0
7134359,2,NaN,70XX,8,NaN,NaN,1220,240821611,0,0,NaN,0,5.0,2024,99.0
7134360,2,NaN,70XX,8,NaN,NaN,2010,244407687,0,0,NaN,0,5.0,2024,99.0

In [13]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7013887 entries, 0 to 7134360
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         int64
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               float64
 11  CONTCODE         object
 12  MONTH            float64
 13  YEAR             int64
 14  COMMODITY2       float64
dtypes: float64(3), int64(7), object(5)
memory usage: 856.2+ MB

In [14]:
combined_data['MONTH'].value_counts().astype('int')

8.0     610680
6.0     607921
9.0     606175
3.0     605236
7.0     604502
5.0     603083
4.0     601363
2.0     593987
1.0     588230
10.0    371299
11.0    366427
12.0    358322
Name: MONTH, dtype: int32

In [15]:
# renaming the values of the month column
combined_data["MONTH"] = combined_data["MONTH"].replace({1.0: 'January',
    2.0: 'February',
    3.0: 'March',
    4.0: 'April',
    5.0: 'May',
    6.0: 'June',
    7.0: 'July',
    8.0: 'August',
    9.0: 'September',
    10.0: 'October',
    11.0: 'November',
    12.0: 'December'})

In [16]:
#checking the value count of the month column and changing the datatype to string
combined_data['MONTH'].value_counts().astype(str)

August       610680
June         607921
September    606175
March        605236
July         604502
May          603083
April        601363
February     593987
January      588230
October      371299
November     366427
December     358322
Name: MONTH, dtype: object

In [17]:
# changing the datatype of values in the 'CANPROV' column
combined_data['CANPROV'].value_counts().astype(str)

XO    1021878
XQ     670077
XC     576886
XA     489538
XM     392387
XS     203985
XB     165547
XN      78301
XP      29566
XW      18240
OT       6065
XY       2832
XT        608
XV        156
Name: CANPROV, dtype: object

In [18]:
# checking the value counts of the 'MEXSTATE' Column and changing the datatype to string
combined_data['MEXSTATE'].value_counts().astype(str)

MX    194919
NL    182797
XX    162332
CH    122411
BC    120121
DF    110533
JA    108021
CO     96407
SO     92038
QT     87758
TM     87430
GT     85698
OT     82696
SL     64789
CM     53714
PU     46175
AG     43706
SI     33663
DG     29446
HG     25560
VE     23885
MO     21863
TL     17951
MI     17671
BS     15771
ZA     14198
QR     11659
YU      9524
TB      7039
CL      5198
CS      4069
OA      3900
GR      3574
Name: MEXSTATE, dtype: object

In [19]:
# checking the value counts of the 'COMMODITY2' Column and changing the datatype to string
combined_data['COMMODITY2'].value_counts().astype(str)

84.0    275335
85.0    240089
39.0    229016
87.0    194243
90.0    181961
         ...
43.0      5758
53.0      5461
45.0      4918
50.0      1798
99.0       222
Name: COMMODITY2, Length: 98, dtype: object

In [20]:
# checking the value counts of the 'DISAGMOT' Column
combined_data['DISAGMOT'].value_counts()

5    4572329
3    1213999
6     713575
8     251907
1     213492
9      26339
7      13961
4       8285
Name: DISAGMOT, dtype: int64

In [21]:
# renaming values in the 'DISAGMOT' column #FTZ = Foreign Trade Zones
combined_data["DISAGMOT"] = combined_data["DISAGMOT"].replace({1: 'Vessel',
    3: 'Air',
    4: 'Mail',
    5: 'Truck',
    6: 'Rail',
    7: 'Pipeline',
    8: 'Other',
    9: 'FTZs'
    })

In [22]:
# checking the value counts of the 'DISAGMOT' Column and changing the datatype to string
combined_data['DISAGMOT'].value_counts().astype(str)

Truck       4572329
Air         1213999
Rail         713575
Other        251907
Vessel       213492
FTZs          26339
Pipeline      13961
Mail           8285
Name: DISAGMOT, dtype: object

In [23]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7013887 entries, 0 to 7134360
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          int64
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         object
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               float64
 11  CONTCODE         object
 12  MONTH            object
 13  YEAR             int64
 14  COMMODITY2       float64
dtypes: float64(2), int64(6), object(7)
memory usage: 856.2+ MB

In [24]:
combined_data['USASTATE'].value_counts().astype(str)

TX    375395
CA    317963
IL    256859
OH    206231
FL    202554
NY    199890
PA    199773
MI    189296
GA    183643
NJ    179628
WI    173541
NC    171192
IN    159713
TN    154729
MN    153418
WA    143855
MA    143568
AZ    135508
MO    133833
SC    123304
KY    123223
VA    113428
CO    111076
CT    107528
OR    104469
IA    102444
AL    100825
KS     97972
UT     96800
MD     94832
LA     85707
NV     83610
OK     83096
MS     78213
AR     74069
NE     69728
NH     69695
ME     63817
ID     63771
RI     52602
ND     52171
DE     48559
NM     48362
MT     48225
VT     46443
SD     44466
DU     40969
WV     39940
WY     29388
AK     26873
HI     14795
DC     10576
Name: USASTATE, dtype: object

In [25]:
# checking the value counts of the 'DF' Column
combined_data['DF'].value_counts()

1.0    3111037
2.0    1558990
Name: DF, dtype: int64

In [26]:
# Renaming values in the 'DF' column
combined_data["DF"] = combined_data["DF"].replace({1.0: 'Domestic',
    2.0: 'Foreign'})

In [27]:
# checking the value counts of the '' ColumnDF and changing the datatype to string
combined_data["DF"].value_counts().astype(str)

Domestic    3111037
Foreign     1558990
Name: DF, dtype: object

In [28]:
# checking the value counts of the 'COUNTRY' Column
combined_data['COUNTRY'].value_counts()

1220    4234562
2010    2779325
Name: COUNTRY, dtype: int64

In [41]:
# Renaming values in the 'COUNTRY' column
combined_data["COUNTRY"] = combined_data["COUNTRY"].replace({1220: 'Canada',
    2010: 'Mexico'})

In [42]:
# checking the value counts of the 'COUNTRY' Column and changing the datatype to string
combined_data['COUNTRY'].value_counts().astype(str)

Canada    4234562
Mexico    2779325
Name: COUNTRY, dtype: object

In [31]:
# checking the value counts of the 'TRDTYPE' Column
combined_data['TRDTYPE'].value_counts()

1    4670027
2    2343860
Name: TRDTYPE, dtype: int64

In [32]:
# Renaming values in theb 'TRDTYPE' column
combined_data["TRDTYPE"] = combined_data["TRDTYPE"].replace({1: 'Export',
    2: 'Import'})

In [33]:
# checking the value counts of the 'TRDTYPE' Column and changing the datatype to string
combined_data['TRDTYPE'].value_counts().astype(str)

Export    4670027
Import    2343860
Name: TRDTYPE, dtype: object

In [34]:
combined_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7013887 entries, 0 to 7134360
Data columns (total 15 columns):
 #   Column           Dtype
---  ------           -----
 0   TRDTYPE          object
 1   USASTATE         object
 2   DEPE             object
 3   DISAGMOT         object
 4   MEXSTATE         object
 5   CANPROV          object
 6   COUNTRY          int64
 7   VALUE            int64
 8   SHIPWT           int64
 9   FREIGHT_CHARGES  int64
 10  DF               object
 11  CONTCODE         object
 12  MONTH            object
 13  YEAR             int64
 14  COMMODITY2       float64
dtypes: float64(1), int64(5), object(9)
memory usage: 856.2+ MB

In [35]:
# checking the value counts of the 'CONTCODE' Column
combined_data['CONTCODE'].value_counts()

0    3883582
X    2573713
1     556592
Name: CONTCODE, dtype: int64

In [36]:
# checking the value counts of the 'YEAR' Column
combined_data['YEAR'].value_counts()

2022    1723663
2021    1682774
2023    1483475
2024    1108543
2020    1015432
Name: YEAR, dtype: int64

In [37]:
# checking the value counts of the 'DEPE' Column
combined_data['DEPE'].value_counts()

2304    214729
3802     95782
20XX     91372
0901     87697
3801     79056
         ...
2481        17
3881        10
0182         6
0152         4
3385         2
Name: DEPE, Length: 246, dtype: int64

In [38]:
combined_data['COMMODITY2'].value_counts().astype(str)

84.0    275335
85.0    240089
39.0    229016
87.0    194243
90.0    181961
         ...
43.0      5758
53.0      5461
45.0      4918
50.0      1798
99.0       222
Name: COMMODITY2, Length: 98, dtype: object

In [39]:
#Checking for null values
combined_data.isnull().sum()

TRDTYPE                  0
USASTATE            982322
DEPE               4409954
DISAGMOT                 0
MEXSTATE           5027371
CANPROV            3357821
COUNTRY                  0
VALUE                    0
SHIPWT                   0
FREIGHT_CHARGES          0
DF                 2343860
CONTCODE                 0
MONTH               496662
YEAR                     0
COMMODITY2         1621611
dtype: int64

### Handling Null / Missing vaues

In [44]:
#import os

# Print the current working directory 
print("Current working directory:", os.getcwd())

Current working directory: C:\Users\HP\Downloads